* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 166, 0, 0.582);
}

.yazi {
    position: absolute;
    top: 28%;
    left: 50%;
    transform:
        rotateX(48deg) rotateZ(33deg);
    transform-style: preserve-3d;
    box-shadow: rgba(40, 40, 40, 0.994) 5px 10px 7px 7px;
    color: white;
    animation: animate_yazi 5s infinite;
    width: 300px;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, rgb(3, 161, 186) 0%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
}

@keyframes animate_yazi {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
        width: 320px;
    }

    100% {
        background-position: 0%;
    }
}

.icons {  
    box-shadow: rgba(40, 40, 40, 0.994) 40px -10px 10px 5px;
    background-color: orange;
    animation: animate 4s infinite;
    width: 150px;
    height: 395px;
    transform:
        rotateX(48deg) rotateZ(33deg);
    transform-style: preserve-3d;
}

@keyframes animate {
    0% {
        box-shadow: rgba(40, 40, 40, 0.994)40px -10px 10px 5px;
    }

    50% {
        box-shadow: rgba(40, 40, 40, 0.994) 30px -10px 10px 5px;
    }

    100% {
        box-shadow: rgba(40, 40, 40, 0.994) 40px -10px 10px 5px;
    }
}

.a {
    background-color: rgba(121, 85, 18, 0.485);
    text-align: center;
    height: auto;
    width: auto;
    height: 75px;
    border: 5px solid white;
    padding-top: 15px;

}

.a:nth-child(1):before {
    content: '';
    width: 5px;
    height: 92px;
    background-color: white;
    z-index: -1;
    position: absolute;
    top: 3px;
    left: 0px;
    transition: 0.6s;
}

.a:nth-child(1):hover:before {
    width: 97%;
}

/**/
.a:nth-child(2):before {
    content: '';
    width: 5px;
    height: 92px;
    background-color: white;
    z-index: -1;
    position: absolute;
    top: 103px;
    left: 0px;
    transition: 0.6s;
}

.a:nth-child(2):hover:before {
    width: 97%;
}

/**/
.a:nth-child(3):before {
    content: '';
    width: 5px;
    height: 92px;
    background-color: white;
    z-index: -1;
    position: absolute;
    top: 201px;
    left: 0px;
    transition: 0.6s;
}

.a:nth-child(3):hover:before {
    width: 97%;
}

/**/
.a:nth-child(4):before {
    content: '';
    width: 5px;
    height: 92px;
    background-color: white;
    z-index: -1;
    position: absolute;
    top: 300px;
    left: 0px;
    transition: 0.6s;
}

.a:nth-child(4):hover:before {
    width: 97%;
}

/**/